<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="max-width: 60%;
            max-height: auto;
    width: 60%;
    height: auto;
    border-radius: 0;" aria-label="Ajouter une matière">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ajouter étudiants </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <div class="md-dialog-content" >
          
        <form ng-cloak name="addPymtForm">
        <md-content layout-padding >
       
            <div layout-gt-sm='column'>
                    <div>
                          <div layout='row' flex>
                                                    
                            <md-input-container class="md-icon-float md-block" flex-gt-sm flex>

                                <md-autocomplete  md-search-text="$ctrl.stdMat" 
                                                md-selected-item="selectedStd"  
                                                md-items="std in $ctrl.queryStudent($ctrl.stdMat)" 
                                                md-item-text="std.matricule" 
                                                md-min-length="0"
                                                md-no-cache ="true"
                                                md-selected-item-change="selectedStudentChange(acadYrItem)"
                                                 md-input-name="student"
                                                md-escape-options="clear"
                                                md-require-match=""
                                                md-floating-label="Matricule de l'étudiant"
                                                input-aria-describedby="Student ID"                                 
                                                 >
                                    <md-item-template>
                                      <span md-highlight-text="std.matricule" md-highlight-flags="^i">{{std.matricule}}[{{std.nom+" "+std.prenom}}]</span>

                                    </md-item-template>
                                    <md-not-found>
                                      Aucun élément correspondant à "{{$ctrl.stdMat}}" n'a été trouvé.

                                    </md-not-found>
                                </md-autocomplete>
                                      <div ng-messages="subjectForm.subject.$error">
                                          <div ng-message="required">Ce champ est obligatoire</div>
                                      </div> 
                            </md-input-container>
                           <div><!--
                                <md-button class=" md-raised md-warn" ng-disabled="selectedStd === null" ng-click="addStudent()">
                                <!-- below is the material icons -->
                              <!--      <md-icon class="fa fa-plus"></md-icon>
                                </md-button>-->
                            </div>
                              
                         
                          </div>
            </div>

    
        <table class="table">

            <tbody>
                <tr>
                  
                  <td ng-bind="selectedStd.num"></td>
                  <td ng-bind="selectedStd.matricule"></td>
                  <td ng-bind="selectedStd.nom"></td>
                  <td ng-bind="selectedStd.prenom"></td>
                  <td ng-bind="selectedStd.code"></td>
                </tr>
            
        </table>
        
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Montant</label>
            <input ng-model="user.company" type="number" name="amount">
                <div ng-messages="addPymtForm.amount.$error">
                    <div ng-message="required">le champ code  est obligatoire</div>
                    <div ng-message="minlength">le code doit avoir au moins 3 caractères</div>
                </div>            
          </md-input-container>

          <md-input-container>
            <label>Date</label>
            <md-datepicker ng-model="user.submissionDate" aria-label="Enter date"></md-datepicker>
          </md-input-container>
        </div>            
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Annuler</md-button>
      <md-button class="md-warn" ng-click="saveChoices(studs)" ng-disabled="addPymtForm.$invalid" >
          <span class="fa fa-check">  Enregistrer </span>
      </md-button>

    </md-dialog-actions>
        </form>    
          </md-content>
      </div>
        </md-content><!-- comment -->
        </form>

  
</md-dialog>