<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="max-width: 60%;
            max-height: auto;
    width: 60%;
    height: auto;
    border-radius: 0;" aria-label="Ajouter une matière">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ajouter étudiants </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <div class="md-dialog-content" >
        <md-content layout-padding >
        <form ng-cloak name="subjectForm">
            <div layout-gt-sm='column'>
                    <div>
                      <form name="subejctForm">
                          <div layout='row' flex>
                                                    
                            <md-input-container class="md-icon-float md-block" flex-gt-sm flex>

                                <md-autocomplete  md-search-text="$ctrl.stdMat" 
                                                md-selected-item="selectedStd"  
                                                md-items="std in $ctrl.queryStudent($ctrl.stdMat)" 
                                                md-item-text="std.matricule" 
                                                md-min-length="0"
                                                md-no-cache ="true"
                                                md-selected-item-change="selectedStudentChange(acadYrItem)"
                                                 md-input-name="student"
                                                md-escape-options="clear"
                                                md-require-match=""
                                                md-floating-label="Matricule de l'étudiant"
                                                input-aria-describedby="Student ID"                                 
                                                 >
                                    <md-item-template>
                                      <span md-highlight-text="std.matricule" md-highlight-flags="^i">{{std.matricule}}[{{std.nom+" "+std.prenom}}]</span>

                                    </md-item-template>
                                    <md-not-found>
                                      Aucun élément correspondant à "{{$ctrl.stdMat}}" n'a été trouvé.

                                    </md-not-found>
                                </md-autocomplete>
                                      <div ng-messages="subjectForm.subject.$error">
                                          <div ng-message="required">Ce champ est obligatoire</div>
                                      </div> 
                            </md-input-container>
                            <div>
                                <md-button class=" md-raised md-warn" ng-disabled="selectedStd === null" ng-click="addStudent()">
                                <!-- below is the material icons -->
                                    <md-icon class="fa fa-plus"></md-icon>
                                </md-button>
                            </div>
                              
                         
                          </div>
            </div>

    
        <table class="table">
            <thead>
                    <tr>
                        
                        <th scope="col">Num</th>
                        <th scope="col">Matricule</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        
                        <th scope="col"></th>
                    </tr>
            </thead>

            <tbody>
                <tr ng-repeat="sub in studs" >
                  
                  <td ng-bind="sub.num"></td>
                  <td ng-bind="sub.matricule"></td>
                  <td ng-bind="sub.nom"></td>
                  <td ng-bind="sub.prenom"></td>
                  
                  <td ><button  type="button" ng-click="removeStudent(sub)" class="btn btn-default btn" ><i class="fa fa-trash-o"></i></button></td></span></td>
                </tr>
            
        </table>
            
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Annuler</md-button>
      <md-button class="md-warn" ng-click="saveChoices(studs)" >
          <span class="fa fa-check">  Valider </span>
      </md-button>

    </md-dialog-actions>
        </form>    
          </md-content>
      </div>
      

  
</md-dialog>