<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="    max-width: 60%;
    max-height: 60%;
    width: 60%;
    height: 60%;
    border-radius: 0;" aria-label="Ajouter une faculté">



    <md-dialog-content>&nbsp;&nbsp;
        <button   ng-click="generateData()"  class="btn btn-primary" id='newacadyr'><i class="fa fa-file-excel-o" title="Exporter les données"></i> &nbsp; Exporter les données</button>
     <button   ng-click="cancel()"  class="btn btn-secondary" id='newacadyr'><i  title="Exporter les données"></i>Fermer</button>
     
        <md-progress-linear md-mode="indeterminate" ng-show="showProgress"></md-progress-linear>
        <p class="text-center" ng-show="showProgress">
            <br /><br /><br /><br /><br />
            Génératrion  des données d'étudiants en cours...
        </p>
        <p ng-show="showDownloadLink">
            <a href="zip/studentsDetails.xlsx" download>Télécharger le fichier ici</a>
        </p>
    </md-dialog-content>
</md-dialog>