<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="max-width: 60%;
            max-height: auto;
    width: 70%;
    height: auto;
    border-radius: 0;" aria-label="Modifier les informations sur l'étudiant">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modifier les informations sur l'étudiant</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <div class="md-dialog-content" >
        <md-content layout-padding >
            <div ng-show="student.msgeStatus===1" class="alert alert-success" role="alert">SMS envoyé avec succès</div>
            <div ng-show="student.msgeStatus===0" class="alert alert-danger" role="alert">Une erreur est survenue lors de l'envoie du SMS</div>
        <form ng-cloak name="stdRegistrationForm">
          
            <div layout-gt-sm='column'>
                <div layout-gt-sm="row"  style='margin-top: 15px;'>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Nom:</label>
                   <input name="name" ng-model="student.nom" required />
                       <div ng-messages="stdRegistrationForm.name.$error">
                           <div ng-message="required">le champ nom est obligatoire</div>

                       </div>   
                 </md-input-container>

                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Prénom:</label>
                   <input name="prenom" ng-model="student.prenom" required />
                       <div ng-messages="stdRegistrationForm.prenom.$error">
                           <div ng-message="required">le champ Prénom est obligatoire</div>

                       </div> 
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Classe:</label>
                   <input name="classe" ng-model="student.classe" readonly required />
                       <div ng-messages="stdRegistrationForm.classe.$error">
                           <div ng-message="required">le champ classe est obligatoire</div>

                       </div> 
                 </md-input-container>
               </div>        
                      
                <div layout-gt-sm="row"  style='margin-top: 15px;'>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Numéro de téléphone</label>
                        <input name="phoneNumber" ng-model="student.phoneNumber" ng-pattern="/^[0-9]{9}$/" required />
                        <div ng-messages="stdRegistrationForm.phoneNumber.$error">
                            <div ng-message="required">le champ numéro de téléphone est obligatoire</div>
                            <div ng-message="pattern">Numéro de téléphone invalid</div>

                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Montant versé</label>
                        <input name="feesPaid" ng-model="student.feesPaid" />
                        <div ng-messages="stdRegistrationForm.feesPaid.$error">
                            <div ng-message="required">le champ numéro de téléphone est obligatoire</div>
                            <div ng-message="pattern">Numéro de téléphone invalid</div>

                        </div>                        
                    </md-input-container>

               </div>  
                <div layout-gt-sm="row"  style='margin-top: 15px;'>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Numéro d'admission</label>
                        <input style="background-color:#fab1a0; color: #fff; font-weight: bold" name="phoneNumber"  ng-model="student.numDossier"  readonly />
                        <div ng-messages="stdRegistrationForm.phoneNumber.$error">
                            <div ng-message="required">le champ numéro d'admission est obligatoire</div>
                            <div ng-message="pattern">Numéro d'admission invalid</div>

                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                    </md-input-container>
               </div>                 
            </div>


            
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Fermer</md-button>

      <md-button class="bg-primary" ng-click="confirmAdmission(student)" ng-disabled="student.status>1" >
          <span class="fa fa-check">  Confirmer </span>
      </md-button>
    </md-dialog-actions>
        </form>    
          </md-content>
      </div>
      

  
</md-dialog>