<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="max-width: 60%;
            max-height: auto;
    width: 60%;
    height: auto;
    border-radius: 0;" aria-label="Ajouter une matière">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Importer un fichier {{ue.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <div class="md-dialog-content" >
        <md-content layout-padding >
        <form ng-cloak name="subjectForm">
            <div layout-gt-sm='column'>
            <md-input-container class="md-block" flex-gt-sm flex='60'>
                <div class="custom-file">
                    <input type="file" accept='.csv' ng-file='uploadfiles'  id="file" data-classButton="btn btn-primary" required> 
                    
                </div>
            </md-input-container>
            </div>
        <p class='text-primary'>Le fichier d'import au format csv doit etre defini en spécifiant l'entete dans l'ordre rigoureux des colonnes suivantes:</p>
        
        <p class='text-danger'><strong>matricule,nom,prenom,date_naissance,classe,fees,debt,mpc</strong></p>
    <md-dialog-actions layout="row">


      <span flex></span>
      <md-button ng-click="cancel()"> Annuler</md-button>
      <md-button class="md-warn" ng-click="uploadStd()" >
       Importer
      </md-button>

    </md-dialog-actions>
        </form>    
          </md-content>
      </div>
      

  
</md-dialog>