<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="max-width: 60%;
            max-height: auto;
    width: 60%;
    height: auto;
    border-radius: 0;" aria-label="Ajouter une matière">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Affeter des Unité d'enseignements à l'enseignant</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <div class="md-dialog-content" >
        <md-content layout-padding >
            <form ng-cloak name="subjectForm">
            <div layout-gt-sm='column'>
                    <div>
                     
                          <div layout='row' flex>
                                                    
                            <md-input-container class="md-icon-float md-block" flex-gt-sm flex>
                          
                                  <md-autocomplete  md-search-text="subject" 
                                                   md-selected-item="selectedSubject" 
                                                   
                                                   md-items="item in query(subject)" 
                                                   md-item-text="item.codeUe" 
                                                   md-min-length="0"
                                                   placeholder="Code UE" 
                                                   md-selected-item-change="selectedSubjectChange(item)"
                                                   md-input-name="subject"
                                                   md-no-asterisk
                                                   required>
                                      <md-item-template>
                                        <span md-highlight-text="subject" md-highlight-flags="^i">{{item.codeUe}}[{{item.classe}}]</span>

                                      </md-item-template>
                                      <md-not-found>
                                        No subjects matching "{{subject}}" were found.
                                        <a ng-click="">Create a new one!</a>
                                      </md-not-found>
                                </md-autocomplete>
                                      <div ng-messages="subjectForm.subject.$error">
                                          <div ng-message="required">Ce champ est obligatoire</div>
                                      </div> 
                            </md-input-container>
                            <div>
                                <md-button class=" md-raised md-warn" ng-disabled="selectedSubject === null" ng-click="addSubject()">
                                <!-- below is the material icons -->
                                    <md-icon class="fa fa-plus"></md-icon>
                                </md-button>
                            </div>
                              
                         
                          </div>
            </div>
                        <md-input-container class="md-block" flex-gt-sm >
                                            

                            <md-checkbox  ng-model="partialAttribution" ng-disabled="std.isRepeated===1"  aria-label="Checkbox Indeterminate" 
                                              ng-true-value="1"
                                       ng-checked="flase"                   
                                              class="md-primary">

                            </md-checkbox>
                            Attribution partielle
                        </md-input-container> 
                       
        <table class="table">
            <thead>
                    <tr>
                        
                        <th scope="col">Code UE</th>
                        <th scope="col">intiutle</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Volume Horaire</th>
                        <th scope="col"></th>
                    </tr>
            </thead>

            <tbody>
                <tr ng-repeat="sub in subjects" >
                  
                  <td ng-bind="sub.codeUe"></td>
                  <td ng-bind="sub.nomUe"></td>
                  <td ng-bind="sub.classe"></td>
                  <td ng-bind="sub.semester"></td>
                  <td ng-bind="sub.totalHrs+'H'"></td>
                  
                  <td>
                        <md-input-container class="md-block"  ng-show="partialAttribution">
                            <label>Volume horaire attibué</label>
                            <input name="volumeHrs" ng-model="sub.volumeHrs" style="background-color:#fab1a0; color: #fff; font-weight: bold" ng-required="partialAttribution===1" />
                            <div ng-messages="subjectForm.volumeHrs.$error">
                                <div ng-message="required">le champ numéro de téléphone est obligatoire</div>
                                <div ng-message="pattern">Numéro de téléphone invalid</div>

                            </div>                        
                        </md-input-container>                      
                  </td>
                  <td ><button  type="button" ng-click="removeSubject(sub)" class="btn btn-default btn" ><i class="fa fa-trash-o"></i></button></td>
                </tr>
            
        </table>
                <div class='alert alert-danger' ng-show='showforceToProceeButton'> Une ou plusieures Unités d'ensiegnement sélectionnées sont déja attribués! Voulez vous néanmoins forcer l'attribution?'</div>    
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Annuler</md-button>
      <md-button ng-hide ="showforceToProceeButton" class="md-warn" ng-click="saveChoices(0)" ng-disabled="subjectForm.$invalid">
          <span class="fa fa-check">  Valider </span>
      </md-button>
      <md-button ng-show ="showforceToProceeButton" class="md-warn" ng-click="saveChoices(1)" >
          <span class="fa fa-check">  Forcer l'attribution </span>
      </md-button>      

    </md-dialog-actions>
                </div>
        </form>    
          </md-content>
      
      </div>   

  
</md-dialog>