<md-dialog aria-label="Nouvelle progression d'UE" style="width: 500px;">
    <form ng-cloak name="progressionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nouvelle progression ({{teachingUnitCode}})</h2>
                <span flex></span>
                <md-button aria-label="cancel button" class="md-icon-button" ng-click="cancel()">
                    <img src="assets/images/cancel_753345.png" width="24px" height="24px" alt="cancel"/>
<!--                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content gap-1" layout="column">
                <div>
                    <label class="demo-radio-button-label">Cible de la progression</label>
                    <md-radio-group layout="row" ng-model="progression.target">
                        <md-radio-button value="cm">Cours Magistral</md-radio-button>
                        <md-radio-button value="td">Travail Dirige</md-radio-button>
                        <md-radio-button value="tp">Travail Pratique</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="date">Date</label>
                        <input type="date" name="date" ng-model="progression.date" id="date" required/>
                        <div ng-messages="progressionForm.date.$error" multiple md-auto-hide="true">
                            <div ng-message="required">Ce champ est requis !</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="start_time">Heure de debut</label>
                        <input type="time" name="start_time" ng-model="progression.start_time" id="start_time"   required/>
                        <div ng-messages="progressionForm.date.$error" multiple md-auto-hide="true">
                            <div ng-message="required">Ce champ est requis !</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="end_time">Heure de fin</label>
                        <input type="time" name="end_time" ng-model="progression.end_time" id="end_time"   required/>
                        <div ng-messages="progressionForm.date.$error" multiple md-auto-hide="true">
                            <div ng-message="required">Ce champ est requis !</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label for="description">Desciption</label>
                        <textarea id="description" name="desciption"
                              rows="5"
                              placeholder="Entrez le resume de la seance ici"
                              ng-model="progression.description" required maxlength="500"></textarea>
                        <div ng-messages="progression.description.$error" multiple md-auto-hide="true">
                            <div ng-message="required">La description est requise !</div>
                            <div ng-message="md-maxlength">La description doit avoir au plus 500 caracteres</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="button" class="warn" ng-click="cancel()">
                Annuler
            </md-button>
            <md-button ng-if="!isProcessing" class="md-primary" type="submit" ng-click="saveProgression(progressionForm)">
                Enregistrer
            </md-button>
            <md-button aria-label="loader" ng-if="isProcessing" layout="row" layout-align="center"
                       style="align-items: center" type="button" class="md-primary" disabled="">
                <md-progress-circular class="md-accent md-hue-1" md-diameter="15"></md-progress-circular>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>