/*body {
    padding-top: 60px;
    padding-bottom: 40px;
}*/

.zf-green {
    color: #68b604;
}

.zf-bg-red {
    background-color: red;
    color: #ffffff;
  
}
.zf-bg-warn {
    background-color: orange;
    color: #ffffff;
    
}
.zf-bg-green {
    background-color: #68b604;
    color: #ffffff;

}
.zf-bg-grey {
    background-color: #95a5a6;
    color: #ffffff;

}

.zf-bg-black {
    background-color: #1e272e;
    color: #ffffff;

}

.zf-red {
    color: red;
}
.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

 /*Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.form-view{
    margin-left: auto;
    margin-right: auto;
    /*padding: 25px;*/
    /*min-width: 827px;*/
    max-width: 870px;
    min-height:842px;
    overflow: auto;
    background: #ffffff;
    padding: 25px;
    -moz-box-shadow: 2px 2px 2px 2px #656565;
-webkit-box-shadow: 2px 2px 2px 2px #656565;
-o-box-shadow: 2px 2px 2px 2px #656565;
box-shadow: 2px 2px 2px 2px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2);
}
.form-view-main{
    /*background: lightgrey;*/
    background-image: url("../img/ps_neutral.png");
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -20px;
    padding-top: 15px;
    
}

/*input, textarea {
  background-color : blue;
}*/

/*  .btn {
height: 25px !important;
padding-top: 2px;
//padding-bottom: 3px;

}*/

.md-inline-form md-checkbox
{
margin: 0px;
padding: 0px;
}

md-input-container{
   margin: 5px;
}

.md-dialog-container {
    /*position: fixed !important;
   // left: 20%;
    //top: 0%;
    //background-color: white;*/
    z-index: 1000;

}

.md-autocomplete-suggestions-container{  
   z-index:100000 !important; /* any number of choice > 1050*/
  }

legend {
    color: #95a5a6;

    font-size: 20px;
    max-width: 300px;
    border-bottom: 0px;

}
fieldset{
    border: 1px #e5e5e5 solid;
    margin: 2px;
    padding: 2px;
}

.dt-button{
  margin: 5px;
  
}

table td{
    vertical-align: middle;
    /*/text-align: center;*/
}

table th{
    vertical-align: middle;
    text-align: left;
}



.table-fixed tbody {
height: 150px;
overflow-y: auto;
/*width: 100%;*/
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
display: block;
}
.table-fixed tr:after {
content: "";
display: block;
visibility: hidden;
clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
float: left;
}


.td-small {
  width: 23%;
  max-width: 23%;
}
.td-2-small {
  width: 10%;
  max-width: 10%;
}


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

    .dataTables_filter {
        position: relative;
    }
 
    .dataTables_filter input {
        width: 250px;
        height: 32px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        text-indent: 10px;
    }
 
    .dataTables_filter .fa-search {
        position: absolute;
        top: 10px;
        left: auto;
        right: 10px;
    }
