<div layout="column" class="wrapper" ng-cloak>
    <md-toolbar md-scroll-shrink ng-if="true"  class="md-shadow-bottom-z-2" layout-padding>
        <div style="padding: 0">
            <h3 class="md-title">
                Liste des enseignants
            </h3>
        </div>
    </md-toolbar>

    <md-content layout="column">
        <div>
            <a href="#!new-teacher" class="md-button md-raised md-primary">Creer un enseignant</a>
        </div>
        <div class="loading-container" ng-if="!hasSucceededLoadingTeachers()">
            <div class="error-block" ng-if="hasFailedLoadingTeachers()">
                <img class="error-icon" src="/assets/images/warning_752755.png" alt=""/>
                <span class="error-message md-warn">Une erreur s'est produite lors du chargement des donnees</span>
                <md-button class="md-raised md-warn" ng-click="loadTeachers()">Reessayer</md-button>
            </div>
            <div class="loader-block" ng-if="isLoadingTeachers()">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <div layout="row" id="container" ng-if="hasSucceededLoadingTeachers()">
            <div class="panel" flex="40" flex-gt-sm>
                <div class="panel-body">
                    <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Noms & Prenoms</th>
                            <th>Grade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in teachers" class="clickable teacher-item"
                            ng-style="{'background-color': teacher.id === selectedTeacherId ? 'lightblue' : 'initial'}"
                            ng-click="onSelectTeacher(teacher.id)">
                            <td>{{$index+1}}</td>
                            <td>{{teacher.names}}</td>
                            <td>{{teacher.grade.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="" flex="60" id="teacher_details_container">
                <div id="teacher_details_placeholder" ng-if="!selectedTeacherId">
                    <img src="/assets/images/pointer_178432.png" alt=""/>
                    <span>Selectionnez un enseignant pour avoir ses informations</span>
                </div>
                <div class="loading-container" ng-if="selectedTeacherId && !hasSucceededLoadingCurrentTeacher()">
                    <div class="error-block" ng-if="hasFailedLoadingCurrentTeacher()">
                        <img class="error-icon" src="/assets/images/warning_752755.png" alt=""/>
                        <span class="error-message md-warn">Une erreur s'est produite lors du chargement des donnees</span>
                        <md-button class="md-raised md-warn" ng-click="loadCurrentTeacher()">Reessayer</md-button>
                    </div>
                    <div class="loader-block" ng-if="isLoadingCurrentTeacher()">
                        <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="30"></md-progress-circular>
                    </div>
                </div>
                <div id="teacher_details" ng-if="hasSucceededLoadingCurrentTeacher()" class="panel">
                    <div class="panel-body gap-1" layout="column">
                        <div layout="row" class="gap-1">
                            <div class="flex-gt-sm gap-0-5" flex="50" layout="column">
                                <div class="details-item">
                                    <label class="details-item-label">Noms & Prenoms</label>
                                    <span class="details-item-value">{{currentTeacher.names}}</span>
                                </div>
                                <div layout="row" class="gap-0-5">
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Date de naissance</label>
                                        <span class="details-item-value">{{currentTeacher.birthdate | date}}</span>
                                    </div>
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Lieu de naissance</label>
                                        <span class="details-item-value">{{currentTeacher.birthplace}}</span>
                                    </div>
                                </div>
                                <div layout="row" class="gap-0-5">
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Nationalite</label>
                                        <span class="details-item-value">{{currentTeacher.country.name.fr}}</span>
                                    </div>
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Etat civil</label>
                                        <span class="details-item-value">{{currentTeacher.marital_status === 'single' ? 'Celibataire' : 'Marie(e)'}}</span>
                                    </div>
                                </div>
                                <div layout="row" class="gap-0-5">
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Telephone</label>
                                        <span class="details-item-value">{{currentTeacher.phone}}</span>
                                    </div>
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Email</label>
                                        <span class="details-item-value">{{currentTeacher.email}}</span>
                                    </div>
                                </div>
                                <div layout="row" class="gap-0-5">
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Diplome le plus eleve</label>
                                        <span class="details-item-value">{{currentTeacher.highest_degree.name}}</span>
                                    </div>
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Specialite</label>
                                        <span class="details-item-value">{{currentTeacher.speciality.name}}</span>
                                    </div>
                                </div>
                                <div layout="row" class="gap-0-5">
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Grade</label>
                                        <span class="details-item-value">{{currentTeacher.grade.name}}</span>
                                    </div>
                                    <div class="details-item" flex-gt-sm flex="50">
                                        <label class="details-item-label">Employeur Actuel</label>
                                        <span class="details-item-value">{{currentTeacher.actual_employer}}</span>
                                    </div>
                                </div>
                                <div class="details-item">
                                    <label class="details-item-label">Etablissement sollicite</label>
                                    <span class="details-item-value">{{currentTeacher.requested_establishement.name}}</span>
                                </div>
                                <div>
                                    <a href="{{'#!edit/'+selectedTeacherId}}" class="md-button md-raised md-primary md-hue-4 no-margin-left">
                                        <img src="/assets/images/edit_4414703.png" alt="" width="16px" height="16px"/>
                                        Editer
                                    </a>
                                    <md-button class="md-raised md-accent md-hue-2" ng-click="openAffectTeachingUnitDialog()">
                                        <img src="/assets/images/plus_3839101.png" alt="" width="16px" height="16px"/>
                                        Affecter une UE
                                    </md-button>
                                    <md-button class="md-raised md-warn md-hue-1 no-margin-left">
                                        <img src="/assets/images/report_2912773.png" alt="" width="16px" height="16px"/>
                                        Generer la convention
                                    </md-button>
                                </div>
                            </div>
                            <div class="flex-gt-sm gap-1" id="teacher_documents" layout="column">
                                <div ng-class="!!currentTeacher.identityDocumentFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/id_783886.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">{{currentTeacher.identityDocumentFile ? (currentTeacher.identity_document_type === 'passport' ? 'Passeport' : 'CNI') : 'Document d\'identite'}}</span>
                                    <a target="_blank" download
                                       href="{{currentTeacher.identityDocumentFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.coverLetterFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/letter_208027.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Lettre de motivation</span>
                                    <a target="_blank" download
                                       href="{{currentTeacher.coverLetterFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.resumeFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/resume_942799.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Curiculum Vitea</span>
                                    <a target="_blank" download
                                       href="{{currentTeacher.resumeFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.highestDegreeFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/certificate_2912761.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Diplome le plus eleve</span>
                                    <a target="_blank" download
                                       href="{{currentTeacher.highestDegreeFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.teacherRankFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/top_7061138.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Justificatif grade ens.</span>
                                    <a target="_blank" download href="{{currentTeacher.teacherRankFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.experienceReviewFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/review_3080641.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Bilan de l'experience</span>
                                    <a target="_blank" download="nene.pdf"
                                       href="{{currentTeacher.experienceReviewFile.url}}"
                                       type="download" class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                                <div ng-class="!!currentTeacher.nominationActFile ? 'document-item' : 'document-item disabled'">
                                    <img class="document-icon" src="/assets/images/development_2191261.png" alt=""/>
                                    <span class="document-name single-line-ellipsis">Acte de nomination</span>
                                    <a target="_blank" download
                                       href="{{currentTeacher.nominationActFile.url}}"
                                       class="document-download-button clickable">
                                        <img src="/assets/images/download_9502265.png" alt=""/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div layout="row" class="gap-1">
                            <div flex-gt-sm flex="50">
                                <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>UE</th>
                                        <th>Sem</th>
                                        <th>Classe</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="teachingUnit in currentTeacher.teaching_units" class="clickable teacher-item"
                                        ng-style="{'background-color': teachingUnit.id === selectedTeachingUnitId ? 'lightblue' : 'initial'}"
                                        ng-click="onSelectTeachingUnit(teachingUnit.id)">
                                        <td>{{$index+1}}</td>
                                        <td>{{teachingUnit.code}}</td>
                                        <td>{{teachingUnit.semester}}</td>
                                        <td>{{teachingUnit.classe.code}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div flex-gt-sm flex="50" id="teaching_unit_details_container">
                                <div id="teaching_unit_details_placeholder" ng-if="!selectedTeachingUnitId">
                                    <img src="/assets/images/pointer_178432.png" alt=""/>
                                    <span>Selectionnez une UE pour avoir ses informations</span>
                                </div>

                                <div class="loading-container" ng-if="selectedTeachingUnitId && !hasSucceededLoadingCurrentProgressionStats()">
                                    <div class="error-block" ng-if="hasFailedLoadingCurrentProgressionStats()">
                                        <img class="error-icon" src="/assets/images/warning_752755.png" alt=""/>
                                        <span class="error-message md-warn">Une erreur s'est produite lors du chargement des donnees</span>
                                        <md-button class="md-raised md-warn" ng-click="loadCurrentProgressionStats()">Reessayer</md-button>
                                    </div>
                                    <div class="loader-block" ng-if="isLoadingCurrentProgressionStats()">
                                        <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="30"></md-progress-circular>
                                    </div>
                                </div>
                                <div id="teaching_unit_details" ng-if="selectedTeachingUnitId && hasSucceededLoadingCurrentProgressionStats()">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="6" scope="row" class="text-align-center uppercase">Cours magistraux</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Prevu</th>
                                            <th scope="col">Passe</th>
                                            <th colspan="4" scope="col">Progression</th>
                                        </tr>
                                        <tr>
                                            <td>{{currentProgressionStats.cm.total}}h</td>
                                            <td>{{currentProgressionStats.cm.progress}}h</td>
                                            <td colspan="4">
                                                <div class="teaching-unit-progression">
                                                    <div class="teaching-unit-progression-bar" ng-style="{'width': getRoundedPercentage(currentProgressionStats.cm.percentage)+'%'}"></div>
                                                </div>
                                                <span class="teaching-unit-progression-value">{{getRoundedPercentage(currentProgressionStats.cm.percentage)}}%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="progression-divider" colspan="6"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" scope="row" class="text-align-center uppercase">Trauvaux diriges</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Prevu</th>
                                            <th scope="col">Passe</th>
                                            <th colspan="4" scope="col">Progression</th>
                                        </tr>
                                        <tr>
                                            <td>{{currentProgressionStats.td.total}}h</td>
                                            <td>{{currentProgressionStats.td.progress}}h</td>
                                            <td colspan="4">
                                                <div class="teaching-unit-progression">
                                                    <div class="teaching-unit-progression-bar" ng-style="{'width': (getRoundedPercentage(currentProgressionStats.td.percentage))+'%'}"></div>
                                                </div>
                                                <span class="teaching-unit-progression-value">{{getRoundedPercentage(currentProgressionStats.td.percentage)}}%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="progression-divider" colspan="6"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" scope="row" class="text-align-center uppercase">Travaux pratiques</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Prevu</th>
                                            <th scope="col">Passe</th>
                                            <th colspan="4" scope="col">Progression</th>
                                        </tr>
                                        <tr>
                                            <td>{{currentProgressionStats.tp.total}}h</td>
                                            <td>{{currentProgressionStats.tp.progress}}h</td>
                                            <td colspan="4">
                                                <div class="teaching-unit-progression">
                                                    <div class="teaching-unit-progression-bar" ng-style="{'width': getRoundedPercentage(currentProgressionStats.tp.percentage)+'%'}"></div>
                                                </div>
                                                <span class="teaching-unit-progression-value">{{getRoundedPercentage(currentProgressionStats.tp.percentage)}}%</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="text-align-center">
                                        <md-button style="width: -webkit-fill-available"
                                                   ng-click="openProgressionsTimelineDialog($event)"
                                                   class="md-raised md-accent md-hue-3 no-margin-left no-margin-right">
                                            Afficher les details
                                        </md-button>
                                        <md-button style="width: -webkit-fill-available"
                                                   ng-click="openNewProgressionDialog($event)"
                                                   class="md-raised md-primary md-hue-3 no-margin-left no-margin-right">
                                            Ajouter une progession
                                        </md-button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>