#container {
    min-height: 80vh;
    width: 100%;
    gap: 2rem
}

#teacher_details_container {
    width: 100%;;
}

#teacher_details_placeholder, #teaching_unit_details_placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    gap: 1rem;
}

#teacher_details_placeholder img, #teaching_unit_details_placeholder img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

#teacher_details_placeholder span, #teaching_unit_details_placeholder span {
    font-style: italic;
    font-size: smaller;
}

.teacher-item.active {
    background-color: lightblue !important;
}

#teacher_details {
    width: 100%;
    height: 100%;
}

.details-item, .details-item  {
    display: flex;
    flex-direction: column;
}

.details-item .details-item-label {
    font-weight: bolder;
    margin: 0 !important;
}

.details-item .details-item-value {

}

#teacher_documents .document-item{
    height: 4rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid lightgray;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.document-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.document-item.disabled a.document-download-button {
    display: none;
}

#teacher_documents .document-item:hover{
    background-color: lightblue;
}

#teacher_documents .document-item img.document-icon {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

#teacher_documents .document-item a.document-download-button {
    width: 2rem;
    height: 2rem;
    z-index: 9999;
    pointer-events: bounding-box;
}

#teacher_documents .document-item .document-name {
    flex-grow: 1;
}

#teacher_documents .document-item a.document-download-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progression-divider {
    background-color: #eee;
}

td:has(> .teaching-unit-progression) {
    vertical-align: middle !important;
}

.teaching-unit-progression {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #f4f4f4;
    vertical-align: center;
}

.teaching-unit-progression-bar {
    background-color: aquamarine;
    height: 100%;
}

.teaching-unit-progression-value {
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    display: inline-block;
    width: 100%;
}

