#new-teacher-form {
    padding-left: 1rem;
    padding-right: 1rem;
}

.identity-documents-container, .resume-container,
.cover-letter-container, .highest-degree-container,
.teacher-rank-container, .nomination-act-container,
.experience-review-container, .syllabus-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.resume-and-cover-letter {
    margin-top: 1.6rem;
}

.identity-document, .resume-and-cover-letter,
.experience-review-and-appointment-act, .diploma-and-rang {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.others-documents {
    margin-top: 1rem;
}

.document-file-input, .result-preview {
    width: 16rem;
    height: 12rem;
    border-radius: 12px;
    background-color: lightgray;
    max-width: 160px;
    max-height: 120px;
}

.document-file-input {
    border: 1px dashed darkgray;
    background-color: lightgray;
}

.document-file-input label, .result-preview, .file-preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.document-file-input input[type="file"] {
    display: none;
}

.document-file-input label img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.result-preview {
    /*width: 8rem;*/
    /*height: 6rem;*/
    width: 16rem;
    height: 12rem;
    border-radius: 12px;
    border: 2px solid darkgray;
    display: flex;
    position: relative;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: relative;*/
}

.result-preview, .file-preview {
    cursor: default;
}

.file-preview {
    width: 4rem;
    height: 4rem;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.result-preview .result-file-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px;
    font-size: small;
    font-style: italic;
    text-align: center;
    height: 2rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.result-preview .remove-file-button {
    position: absolute;
    right: 8px;
    top: 2px;
}

.remove-file-button img {
    width: 1.2rem;
    height: 1.2rem;
    max-width: 32px;
    max-height: 32px;
    object-fit: cover;
}