<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="    max-width: 60%;
    max-height: 60%;
    width: 60%;
    height: 60%;
    border-radius: 0;" aria-label="Ajouter une faculté">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modifier les information relatives à la spécialité</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" >
          <div  layout="column" ng-cloak class="md-inline-form">


    <md-content layout-padding>
    <div ng-init="init()">
      <form name="degreeForm">


      <md-autocomplete flex="40" md-search-text=" searchText" md-selected-item=" selectedItem" md-no-cache=" noCache"  md-items="item in  querySearch( searchText)" md-item-text="item.name" placeholder="Faites le choix d'une filière" required>
        <md-item-template>
          <span md-highlight-text=" searchText" md-highlight-flags="^i">{{item.name}}</span>
          
        </md-item-template>
        <md-not-found>
          No states matching "{{ searchText}}" were found.
          <a ng-click=" newState( searchText)">Create a new one!</a>
        </md-not-found>
          
      </md-autocomplete>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nom de la spécialité</label>
            <input ng-model=" degree.name" required>
                <div ng-messages="degreeForm.name.$error">
                    <div ng-message="required">le champ nom est obligatoire</div>
                    
                </div>   
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Code spécialité</label>
            <input ng-model=" degree.code" required>
                <div ng-messages="degreeForm.name.$error">
                    <div ng-message="required">le champ code de spécialité est obligatoire</div>
                    <div ng-message="minlength">le code doit avoir au moins 2 caractères</div>
                </div> 
          </md-input-container>
            </div>
            <div>
                <label>Actif?</label>
            <md-checkbox ng-model="degree.status"               
              aria-label="Actif?"
              ng-true-value="1"
              ng-false-value="0"> </md-checkbox>
          </div>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="cancel()">
       Annuler
      </md-button>
      <md-button class="md-warn" ng-click="updateDegree()" ng-disabled="filiereForm.$invalid">
        Modifier
      </md-button>
    </md-dialog-actions>
        

      </form>
    </div>
  </md-content>

</div>
</md-dialog>