<style> 
.md-datepicker-calendar-pane{
z-index: 120000}

.md-select-menu-container {z-index: 120000;}
</style>


<md-dialog  style="    max-width: 60%;
    max-height: 60%;
    width: 60%;
    height: 60%;
    border-radius: 0;" aria-label="Ajouter une faculté">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ajouter une faculté</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" >
           <form ng-cloak name="filiereForm">
            <div layout="row">

                    <md-select name="faculty" placeholder="Choisir la faculté" ng-model="filiere.fac_id" md-on-open="loadFaculties()" style="min-width: 400px;" required>
                        <md-option ng-value="faculty.id" ng-repeat="faculty in faculties">{{faculty.name}}</md-option>
                    </md-select>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex="flex" style="width: 60%" >
                    <label>Nom de la filière:</label>
                    <input type='text'  name='name' ng-model="filiere.name" width='80%' md-no-asterisk required />
                        <div ng-messages="filiereForm.name.$error">
                            <div ng-message="required">le champ code filière est obligatoire</div>
                            <div ng-message="minlength">le code doit avoir au moins 3 caractères</div>
                        </div>                    
        
                </md-input-container>
                <md-input-container flex="flex" style="width: 20%" >
                  
                    <label>Code filière:</label>
                    <input type='text'  name="code" ng-model="filiere.code" width='80%' minlength="2" md-no-asterisk required />
                        <div ng-messages="filiereForm.code.$error">
                            <div ng-message="required">le champ code filière est obligatoire</div>
                            <div ng-message="minlength">le code doit avoir au moins 3 caractères</div>
                        </div>
                </md-input-container> 
            </div>

           <md-checkbox ng-model="status" aria-label="Actif ?" md-no-ink >Actif ?</md-checkbox>


      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="cancel()">
       Annuler
      </md-button>
      <md-button class="md-warn" ng-click="createFilere()" ng-disabled="filiereForm.$invalid">
        Ajouter
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>