<form class="form-horizontal" role="form" ng-submit="updateSem()">
  <div class="modal-header">
            <h3 class="modal-title">Ajouter un semestre</h3>
  </div>
  <div class="modal-body">
  <div class="form-group">
    <label for="code" class="col-sm-3 control-label">Code</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="Code" placeholder="Code" ng-model="semupdate.code">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-5">
		<input class="form-control" type="text"  id="name" ng-model="semupdate.name" >
    </div>
  </div>
 <div class="form-group">
    <label for="UserAge" class="col-sm-3 control-label">Date de debut</label>
    <div class="col-sm-5">
            <div class="input-form">
                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="semupdate.starting_date" name="availabledate" is-open="availableDatePopup.opened" datepicker-options="availableDateOptions" ng-required="true" close-text="Close" ng-click="OpenAvailableDate()"
                ng-change="ChangeExpiryMinDate(AvailableDate)" placeholder="Available Date" />
                <label ng-show="showMessages && addJobForm.availabledate.$invalid" class="text-danger">
                    Available Date is required.
                </label>
            </div>
    </div>
  </div>
	<div class="form-group">
    <label for="UserSal" class="col-sm-3 control-label">Date de fin</label>
    <div class="col-sm-5">
      <div class="input-form">
                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="semupdate.ending_date" name="expiredate" is-open="expireDatePopup.opened" datepicker-options="expireDateOptions" ng-required="true" close-text="Close" ng-click="OpenExpireDate()"
                placeholder="Expire Date" />
                <label ng-show="showMessages && addJobForm.expiredate.$invalid" class="text-danger">
                    Expire Date is required.
                </label>
            </div>
    </div>
  </div>

  </div>
  <div class="modal-footer">
       <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
       <button class="btn btn-primary" type="submit" ng-click="update()">Modifier le Semester</button>
  </div>
</form>